# cypress.env de exemplo para não expor dados sensíveis no código.

# step by step:
- criar arquivo cypress.env.json na raíz do projeto
- incluir os dados válidos (vide README)

{
  "EMAIL": "fulano@qa.com",
  "PASSWORD": "teste"
}